node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
coverage
.nyc_output
dist
tmp
temp
logs
*.log
*.tsbuildinfo
.env
.env.test
.env.local
.env.production
.cache
.parcel-cache
.git
.gitignore
.github
docs
*.md
infrastructure
docker-compose*.yml
.vscode
.idea
.DS_Store
