{
  "openapi": "3.1.0",
  "info": {
    "title": "Frontal Public API",
    "version": "2026-05-17",
    "description": "Endpoint inventory-derived public API schema for api.frontal.dev, generated from docs/api-audit/api-frontal-dev.endpoints.tsv.",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.frontal.dev",
      "description": "Production public API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "action-runs"
    },
    {
      "name": "adapter-services"
    },
    {
      "name": "auth"
    },
    {
      "name": "connection-tests"
    },
    {
      "name": "data"
    },
    {
      "name": "events"
    },
    {
      "name": "integrations"
    },
    {
      "name": "ontology"
    },
    {
      "name": "providers"
    },
    {
      "name": "runs"
    },
    {
      "name": "triggers"
    },
    {
      "name": "webhook-endpoints"
    },
    {
      "name": "workflows"
    }
  ],
  "paths": {
    "/v1/action-runs/{actionRunId}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/action-runs/:actionRunId"
      ],
      "get": {
        "operationId": "getV1Action_runsActionRunId",
        "summary": "GET /v1/action-runs/{actionRunId}",
        "tags": [
          "action-runs"
        ],
        "parameters": [
          {
            "name": "actionRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "frontal/backend/integrations/src/rest/routes/action-runs.controller.ts"
        ]
      }
    },
    "/v1/adapter-services": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/adapter-services/"
      ],
      "x-any-method-route": true,
      "x-any-source-files": [
        "workflows/backend/engine-service/internal/api/http.go"
      ]
    },
    "/v1/auth/login": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/login"
      ],
      "post": {
        "operationId": "postV1AuthLogin",
        "summary": "POST /v1/auth/login",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "billing/backend/platform/openapi.yaml"
        ]
      }
    },
    "/v1/auth/mfa/backup-codes/regenerate": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/mfa/backup-codes/regenerate"
      ],
      "post": {
        "operationId": "postV1AuthMfaBackup_codesRegenerate",
        "summary": "POST /v1/auth/mfa/backup-codes/regenerate",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": []
      }
    },
    "/v1/auth/mfa/disable": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/mfa/disable"
      ],
      "post": {
        "operationId": "postV1AuthMfaDisable",
        "summary": "POST /v1/auth/mfa/disable",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": []
      }
    },
    "/v1/auth/mfa/enable": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/mfa/enable"
      ],
      "post": {
        "operationId": "postV1AuthMfaEnable",
        "summary": "POST /v1/auth/mfa/enable",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": []
      }
    },
    "/v1/auth/mfa/setup": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/mfa/setup"
      ],
      "post": {
        "operationId": "postV1AuthMfaSetup",
        "summary": "POST /v1/auth/mfa/setup",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": []
      }
    },
    "/v1/auth/mfa/status": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/mfa/status"
      ],
      "get": {
        "operationId": "getV1AuthMfaStatus",
        "summary": "GET /v1/auth/mfa/status",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": []
      }
    },
    "/v1/auth/mfa/verify": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/mfa/verify"
      ],
      "post": {
        "operationId": "postV1AuthMfaVerify",
        "summary": "POST /v1/auth/mfa/verify",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": []
      }
    },
    "/v1/auth/signup": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/auth/signup"
      ],
      "post": {
        "operationId": "postV1AuthSignup",
        "summary": "POST /v1/auth/signup",
        "tags": [
          "auth"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "billing/backend/platform/openapi.yaml"
        ]
      }
    },
    "/v1/connection-tests/{connectionTestId}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/connection-tests/:connectionTestId"
      ],
      "get": {
        "operationId": "getV1Connection_testsConnectionTestId",
        "summary": "GET /v1/connection-tests/{connectionTestId}",
        "tags": [
          "connection-tests"
        ],
        "parameters": [
          {
            "name": "connectionTestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "frontal/backend/integrations/src/rest/routes/connection-tests.controller.ts"
        ]
      }
    },
    "/v1/data/aggregations/aggregations": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/aggregations"
      ],
      "get": {
        "operationId": "getV1DataAggregationsAggregations",
        "summary": "GET /v1/data/aggregations/aggregations",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataAggregationsAggregations",
        "summary": "POST /v1/data/aggregations/aggregations",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/aggregations/{aggregation_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/aggregations/{aggregation_id}"
      ],
      "get": {
        "operationId": "getV1DataAggregationsAggregationsAggregation_id",
        "summary": "GET /v1/data/aggregations/aggregations/{aggregation_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "aggregation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/aggregations/{aggregation_id}/executions": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/aggregations/{aggregation_id}/executions"
      ],
      "post": {
        "operationId": "postV1DataAggregationsAggregationsAggregation_idExecutions",
        "summary": "POST /v1/data/aggregations/aggregations/{aggregation_id}/executions",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "aggregation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/capabilities"
      ],
      "get": {
        "operationId": "getV1DataAggregationsCapabilities",
        "summary": "GET /v1/data/aggregations/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/health"
      ],
      "get": {
        "operationId": "getV1DataAggregationsHealth",
        "summary": "GET /v1/data/aggregations/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/info"
      ],
      "get": {
        "operationId": "getV1DataAggregationsInfo",
        "summary": "GET /v1/data/aggregations/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/runs"
      ],
      "get": {
        "operationId": "getV1DataAggregationsRuns",
        "summary": "GET /v1/data/aggregations/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataAggregationsRuns",
        "summary": "POST /v1/data/aggregations/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/aggregations/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/aggregations/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataAggregationsRunsRun_id",
        "summary": "GET /v1/data/aggregations/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/aggregation/src/data_aggregation/router.py"
        ]
      }
    },
    "/v1/data/archival/archival/policies": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/archival/policies"
      ],
      "get": {
        "operationId": "getV1DataArchivalArchivalPolicies",
        "summary": "GET /v1/data/archival/archival/policies",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataArchivalArchivalPolicies",
        "summary": "POST /v1/data/archival/archival/policies",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/archival/policies/{policy_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/archival/policies/{policy_id}"
      ],
      "get": {
        "operationId": "getV1DataArchivalArchivalPoliciesPolicy_id",
        "summary": "GET /v1/data/archival/archival/policies/{policy_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/archival/policies/{policy_id}/executions": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/archival/policies/{policy_id}/executions"
      ],
      "post": {
        "operationId": "postV1DataArchivalArchivalPoliciesPolicy_idExecutions",
        "summary": "POST /v1/data/archival/archival/policies/{policy_id}/executions",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/capabilities"
      ],
      "get": {
        "operationId": "getV1DataArchivalCapabilities",
        "summary": "GET /v1/data/archival/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/health"
      ],
      "get": {
        "operationId": "getV1DataArchivalHealth",
        "summary": "GET /v1/data/archival/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/info"
      ],
      "get": {
        "operationId": "getV1DataArchivalInfo",
        "summary": "GET /v1/data/archival/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/runs"
      ],
      "get": {
        "operationId": "getV1DataArchivalRuns",
        "summary": "GET /v1/data/archival/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataArchivalRuns",
        "summary": "POST /v1/data/archival/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/archival/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/archival/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataArchivalRunsRun_id",
        "summary": "GET /v1/data/archival/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/archival/src/data_archival/router.py"
        ]
      }
    },
    "/v1/data/catalog/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/capabilities"
      ],
      "get": {
        "operationId": "getV1DataCatalogCapabilities",
        "summary": "GET /v1/data/catalog/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/catalog/datasets": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/catalog/datasets"
      ],
      "get": {
        "operationId": "getV1DataCatalogCatalogDatasets",
        "summary": "GET /v1/data/catalog/catalog/datasets",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/catalog/datasets/{dataset_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/catalog/datasets/{dataset_id}"
      ],
      "get": {
        "operationId": "getV1DataCatalogCatalogDatasetsDataset_id",
        "summary": "GET /v1/data/catalog/catalog/datasets/{dataset_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/catalog/datasets/{dataset_id}/artifacts/{manifest_id}/content": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/catalog/datasets/{dataset_id}/artifacts/{manifest_id}/content"
      ],
      "get": {
        "operationId": "getV1DataCatalogCatalogDatasetsDataset_idArtifactsManifest_idContent",
        "summary": "GET /v1/data/catalog/catalog/datasets/{dataset_id}/artifacts/{manifest_id}/content",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifest_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/catalog/sources": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/catalog/sources"
      ],
      "get": {
        "operationId": "getV1DataCatalogCatalogSources",
        "summary": "GET /v1/data/catalog/catalog/sources",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/catalog/sources/{source_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/catalog/sources/{source_id}"
      ],
      "get": {
        "operationId": "getV1DataCatalogCatalogSourcesSource_id",
        "summary": "GET /v1/data/catalog/catalog/sources/{source_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/health"
      ],
      "get": {
        "operationId": "getV1DataCatalogHealth",
        "summary": "GET /v1/data/catalog/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/info"
      ],
      "get": {
        "operationId": "getV1DataCatalogInfo",
        "summary": "GET /v1/data/catalog/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/runs"
      ],
      "get": {
        "operationId": "getV1DataCatalogRuns",
        "summary": "GET /v1/data/catalog/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataCatalogRuns",
        "summary": "POST /v1/data/catalog/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/catalog/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/catalog/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataCatalogRunsRun_id",
        "summary": "GET /v1/data/catalog/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/catalog/src/data_catalog/router.py"
        ]
      }
    },
    "/v1/data/enrichment/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/capabilities"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentCapabilities",
        "summary": "GET /v1/data/enrichment/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/enrichment/profiles": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/enrichment/profiles"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentEnrichmentProfiles",
        "summary": "GET /v1/data/enrichment/enrichment/profiles",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataEnrichmentEnrichmentProfiles",
        "summary": "POST /v1/data/enrichment/enrichment/profiles",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/enrichment/profiles/{profile_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/enrichment/profiles/{profile_id}"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentEnrichmentProfilesProfile_id",
        "summary": "GET /v1/data/enrichment/enrichment/profiles/{profile_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/enrichment/profiles/{profile_id}/executions": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/enrichment/profiles/{profile_id}/executions"
      ],
      "post": {
        "operationId": "postV1DataEnrichmentEnrichmentProfilesProfile_idExecutions",
        "summary": "POST /v1/data/enrichment/enrichment/profiles/{profile_id}/executions",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/health"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentHealth",
        "summary": "GET /v1/data/enrichment/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/info"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentInfo",
        "summary": "GET /v1/data/enrichment/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/runs"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentRuns",
        "summary": "GET /v1/data/enrichment/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataEnrichmentRuns",
        "summary": "POST /v1/data/enrichment/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/enrichment/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/enrichment/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataEnrichmentRunsRun_id",
        "summary": "GET /v1/data/enrichment/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/enrichment/src/data_enrichment/router.py"
        ]
      }
    },
    "/v1/data/exports/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/capabilities"
      ],
      "get": {
        "operationId": "getV1DataExportsCapabilities",
        "summary": "GET /v1/data/exports/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/exports": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/exports"
      ],
      "get": {
        "operationId": "getV1DataExportsExports",
        "summary": "GET /v1/data/exports/exports",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataExportsExports",
        "summary": "POST /v1/data/exports/exports",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/exports/{export_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/exports/{export_id}"
      ],
      "get": {
        "operationId": "getV1DataExportsExportsExport_id",
        "summary": "GET /v1/data/exports/exports/{export_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/exports/{export_id}/executions": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/exports/{export_id}/executions"
      ],
      "post": {
        "operationId": "postV1DataExportsExportsExport_idExecutions",
        "summary": "POST /v1/data/exports/exports/{export_id}/executions",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "export_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/health"
      ],
      "get": {
        "operationId": "getV1DataExportsHealth",
        "summary": "GET /v1/data/exports/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/info"
      ],
      "get": {
        "operationId": "getV1DataExportsInfo",
        "summary": "GET /v1/data/exports/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/runs"
      ],
      "get": {
        "operationId": "getV1DataExportsRuns",
        "summary": "GET /v1/data/exports/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataExportsRuns",
        "summary": "POST /v1/data/exports/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/exports/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/exports/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataExportsRunsRun_id",
        "summary": "GET /v1/data/exports/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/export/src/data_export/router.py"
        ]
      }
    },
    "/v1/data/ingest/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/capabilities"
      ],
      "get": {
        "operationId": "getV1DataIngestCapabilities",
        "summary": "GET /v1/data/ingest/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/datasets": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/datasets"
      ],
      "get": {
        "operationId": "getV1DataIngestDatasets",
        "summary": "GET /v1/data/ingest/datasets",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/datasets/{dataset_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/datasets/{dataset_id}"
      ],
      "get": {
        "operationId": "getV1DataIngestDatasetsDataset_id",
        "summary": "GET /v1/data/ingest/datasets/{dataset_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/datasets/{dataset_id}/artifacts/{manifest_id}/content": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/datasets/{dataset_id}/artifacts/{manifest_id}/content"
      ],
      "get": {
        "operationId": "getV1DataIngestDatasetsDataset_idArtifactsManifest_idContent",
        "summary": "GET /v1/data/ingest/datasets/{dataset_id}/artifacts/{manifest_id}/content",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "manifest_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/datasets/ingest": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/datasets/ingest"
      ],
      "post": {
        "operationId": "postV1DataIngestDatasetsIngest",
        "summary": "POST /v1/data/ingest/datasets/ingest",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/health"
      ],
      "get": {
        "operationId": "getV1DataIngestHealth",
        "summary": "GET /v1/data/ingest/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/info"
      ],
      "get": {
        "operationId": "getV1DataIngestInfo",
        "summary": "GET /v1/data/ingest/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/runs"
      ],
      "get": {
        "operationId": "getV1DataIngestRuns",
        "summary": "GET /v1/data/ingest/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataIngestRuns",
        "summary": "POST /v1/data/ingest/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataIngestRunsRun_id",
        "summary": "GET /v1/data/ingest/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/schemas": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/schemas"
      ],
      "get": {
        "operationId": "getV1DataIngestSchemas",
        "summary": "GET /v1/data/ingest/schemas",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/ingest/schemas/{schema_ref}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/ingest/schemas/{schema_ref:path}"
      ],
      "get": {
        "operationId": "getV1DataIngestSchemasSchema_ref",
        "summary": "GET /v1/data/ingest/schemas/{schema_ref}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "schema_ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/ingestion/src/data_ingest/router.py"
        ]
      }
    },
    "/v1/data/normalization/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/capabilities"
      ],
      "get": {
        "operationId": "getV1DataNormalizationCapabilities",
        "summary": "GET /v1/data/normalization/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/health"
      ],
      "get": {
        "operationId": "getV1DataNormalizationHealth",
        "summary": "GET /v1/data/normalization/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/info"
      ],
      "get": {
        "operationId": "getV1DataNormalizationInfo",
        "summary": "GET /v1/data/normalization/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/normalization/profiles": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/normalization/profiles"
      ],
      "get": {
        "operationId": "getV1DataNormalizationNormalizationProfiles",
        "summary": "GET /v1/data/normalization/normalization/profiles",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataNormalizationNormalizationProfiles",
        "summary": "POST /v1/data/normalization/normalization/profiles",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/normalization/profiles/{profile_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/normalization/profiles/{profile_id}"
      ],
      "get": {
        "operationId": "getV1DataNormalizationNormalizationProfilesProfile_id",
        "summary": "GET /v1/data/normalization/normalization/profiles/{profile_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/normalization/profiles/{profile_id}/executions": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/normalization/profiles/{profile_id}/executions"
      ],
      "post": {
        "operationId": "postV1DataNormalizationNormalizationProfilesProfile_idExecutions",
        "summary": "POST /v1/data/normalization/normalization/profiles/{profile_id}/executions",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/runs"
      ],
      "get": {
        "operationId": "getV1DataNormalizationRuns",
        "summary": "GET /v1/data/normalization/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataNormalizationRuns",
        "summary": "POST /v1/data/normalization/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/normalization/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/normalization/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataNormalizationRunsRun_id",
        "summary": "GET /v1/data/normalization/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/normalization/src/data_normalization/router.py"
        ]
      }
    },
    "/v1/data/pipelines/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/capabilities"
      ],
      "get": {
        "operationId": "getV1DataPipelinesCapabilities",
        "summary": "GET /v1/data/pipelines/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/health"
      ],
      "get": {
        "operationId": "getV1DataPipelinesHealth",
        "summary": "GET /v1/data/pipelines/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/info"
      ],
      "get": {
        "operationId": "getV1DataPipelinesInfo",
        "summary": "GET /v1/data/pipelines/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/pipeline-runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/pipeline-runs"
      ],
      "get": {
        "operationId": "getV1DataPipelinesPipeline_runs",
        "summary": "GET /v1/data/pipelines/pipeline-runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/pipeline-runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/pipeline-runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataPipelinesPipeline_runsRun_id",
        "summary": "GET /v1/data/pipelines/pipeline-runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/pipelines": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/pipelines"
      ],
      "get": {
        "operationId": "getV1DataPipelinesPipelines",
        "summary": "GET /v1/data/pipelines/pipelines",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataPipelinesPipelines",
        "summary": "POST /v1/data/pipelines/pipelines",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/pipelines/{definition_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/pipelines/{definition_id}"
      ],
      "get": {
        "operationId": "getV1DataPipelinesPipelinesDefinition_id",
        "summary": "GET /v1/data/pipelines/pipelines/{definition_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "definition_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/runs"
      ],
      "get": {
        "operationId": "getV1DataPipelinesRuns",
        "summary": "GET /v1/data/pipelines/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataPipelinesRuns",
        "summary": "POST /v1/data/pipelines/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/pipelines/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/pipelines/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataPipelinesRunsRun_id",
        "summary": "GET /v1/data/pipelines/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/pipeline/src/pipeline_engine/router.py"
        ]
      }
    },
    "/v1/data/quality/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/capabilities"
      ],
      "get": {
        "operationId": "getV1DataQualityCapabilities",
        "summary": "GET /v1/data/quality/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/health"
      ],
      "get": {
        "operationId": "getV1DataQualityHealth",
        "summary": "GET /v1/data/quality/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/info"
      ],
      "get": {
        "operationId": "getV1DataQualityInfo",
        "summary": "GET /v1/data/quality/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/quality/rulesets": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/quality/rulesets"
      ],
      "get": {
        "operationId": "getV1DataQualityQualityRulesets",
        "summary": "GET /v1/data/quality/quality/rulesets",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataQualityQualityRulesets",
        "summary": "POST /v1/data/quality/quality/rulesets",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/quality/rulesets/{ruleset_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/quality/rulesets/{ruleset_id}"
      ],
      "get": {
        "operationId": "getV1DataQualityQualityRulesetsRuleset_id",
        "summary": "GET /v1/data/quality/quality/rulesets/{ruleset_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "ruleset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/quality/rulesets/{ruleset_id}/evaluations": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/quality/rulesets/{ruleset_id}/evaluations"
      ],
      "post": {
        "operationId": "postV1DataQualityQualityRulesetsRuleset_idEvaluations",
        "summary": "POST /v1/data/quality/quality/rulesets/{ruleset_id}/evaluations",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "ruleset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/runs"
      ],
      "get": {
        "operationId": "getV1DataQualityRuns",
        "summary": "GET /v1/data/quality/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataQualityRuns",
        "summary": "POST /v1/data/quality/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/quality/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/quality/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataQualityRunsRun_id",
        "summary": "GET /v1/data/quality/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/quality/src/data_quality/router.py"
        ]
      }
    },
    "/v1/data/query/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/query/capabilities"
      ],
      "get": {
        "operationId": "getV1DataQueryCapabilities",
        "summary": "GET /v1/data/query/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      }
    },
    "/v1/data/query/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/query/health"
      ],
      "get": {
        "operationId": "getV1DataQueryHealth",
        "summary": "GET /v1/data/query/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      }
    },
    "/v1/data/query/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/query/info"
      ],
      "get": {
        "operationId": "getV1DataQueryInfo",
        "summary": "GET /v1/data/query/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      }
    },
    "/v1/data/query/query/federated": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/query/query/federated"
      ],
      "post": {
        "operationId": "postV1DataQueryQueryFederated",
        "summary": "POST /v1/data/query/query/federated",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      }
    },
    "/v1/data/query/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/query/runs"
      ],
      "get": {
        "operationId": "getV1DataQueryRuns",
        "summary": "GET /v1/data/query/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataQueryRuns",
        "summary": "POST /v1/data/query/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      }
    },
    "/v1/data/query/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/query/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataQueryRunsRun_id",
        "summary": "GET /v1/data/query/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/query/src/query_engine/router.py"
        ]
      }
    },
    "/v1/data/schemas/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/capabilities"
      ],
      "get": {
        "operationId": "getV1DataSchemasCapabilities",
        "summary": "GET /v1/data/schemas/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/health"
      ],
      "get": {
        "operationId": "getV1DataSchemasHealth",
        "summary": "GET /v1/data/schemas/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/info"
      ],
      "get": {
        "operationId": "getV1DataSchemasInfo",
        "summary": "GET /v1/data/schemas/info",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/runs": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/runs"
      ],
      "get": {
        "operationId": "getV1DataSchemasRuns",
        "summary": "GET /v1/data/schemas/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataSchemasRuns",
        "summary": "POST /v1/data/schemas/runs",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/runs/{run_id}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/runs/{run_id}"
      ],
      "get": {
        "operationId": "getV1DataSchemasRunsRun_id",
        "summary": "GET /v1/data/schemas/runs/{run_id}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/schemas": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/schemas"
      ],
      "get": {
        "operationId": "getV1DataSchemasSchemas",
        "summary": "GET /v1/data/schemas/schemas",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      },
      "post": {
        "operationId": "postV1DataSchemasSchemas",
        "summary": "POST /v1/data/schemas/schemas",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/schemas/{schema_ref}": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/schemas/{schema_ref:path}"
      ],
      "get": {
        "operationId": "getV1DataSchemasSchemasSchema_ref",
        "summary": "GET /v1/data/schemas/schemas/{schema_ref}",
        "tags": [
          "data"
        ],
        "parameters": [
          {
            "name": "schema_ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/schemas/schemas/resolve": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/schemas/schemas/resolve"
      ],
      "post": {
        "operationId": "postV1DataSchemasSchemasResolve",
        "summary": "POST /v1/data/schemas/schemas/resolve",
        "tags": [
          "data"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/schema_registry/src/data_schema_registry/router.py"
        ]
      }
    },
    "/v1/data/serving/capabilities": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/serving/capabilities"
      ],
      "get": {
        "operationId": "getV1DataServingCapabilities",
        "summary": "GET /v1/data/serving/capabilities",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/serving/src/data_serving/router.py"
        ]
      }
    },
    "/v1/data/serving/health": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/serving/health"
      ],
      "get": {
        "operationId": "getV1DataServingHealth",
        "summary": "GET /v1/data/serving/health",
        "tags": [
          "data"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-source-files": [
          "data/backend/serving/src/data_serving/router.py"
        ]
      }
    },
    "/v1/data/serving/info": {
      "x-audit-original-paths": [
        "https://api.frontal.dev/v1/data/serving/info"
[...]
